.social-icon {
  border-radius: 50%;
  margin: 0 10px;
  background-color: #6254e7;
  color: white;
  width: 15px;
  height: 15px;
  padding: 10px;
}

.view-more-btn {
  border: 1px solid #6254e7;
  border-radius: 5px;
  color: #6254e7;
  padding: 13px 25px;
  font-size: 11px;
  font-weight: 700;
}
.view-more-btn:hover {
  background-image: linear-gradient(96deg, #6254e7 0%, #9289f1 100%);
  color: white;
  border: 1px solid;
}
