.image-box{
    overflow: hidden;
}
.custom-image{
    transition: transform 1.5s ease;
}

.custom-image:hover{
    transform: scale(1.2);
}

/* tried to zoom the image on hover but it is taking more than 100% width */

.title:hover{
    color: purple;
    transition: .5s;
}