.blog-hero{
    background-image: url(https://i.ibb.co/X4tTFh4/freelancer-working-outdoors-144627-43331.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.blog-text{
    padding-top: 15%;
}

@media screen and (max-width: 600px) {
    .blog-text{
        padding-top: 40%;
    }
  }