.about-hero{
    background-image: url(https://i.ibb.co/2MnQR3G/young-person-during-intership-23-2149315579.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.custom-title1{
    font-family: 'Nunito', sans-serif;
}
.custom-title2{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

@media only screen and (min-width:600px){
    .services-about-hero{
        margin-top: -22vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .about-hero-service{
        width: 30%;
     }
}

/* .services-about-hero{
    text-align: center;
} */

.about-hero-service{
   width: 100%;
}

