.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-family: "Source Sans Pro", sans-serif !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
input {
  display: block;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#SEOanalysisContainer input,
textarea {
  padding: 10px 20px;
  font-family: Rubik;
  font-size: 15px;
  background-color: #f9f9f9;
  transition: all 1s ease;
}

#SEOanalysisContainer input[type="submit"] {
  margin-top: 10px;
  width: 30%;
  margin: 10px;
  background-image: linear-gradient(
    96deg,
    #f0ac0e 0%,
    #ff7426 51%,
    #f0ac0e 100%
  );
  border: none;
  padding: 15px 20px !important;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

#we-Offer-item:hover {
  background-color: #3b3663;
  color: #fff;
  transition: all 0.2s ease-in;
}
